<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <p> <img src='<%= datas.image.url %>'></p>
    <p><%=datas.displayName %></p>
  </body>
</html>