<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Success</h1>
    <p> <a href='<%= url %>'>Details</a></p>
  </body>
</html>