<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    <form id="registerForm"action="/register" method="post">
      Mail:<br>
      <input type="text" name="mail" id="mail"><br>
      Password:<br>
      <input type="text" name="password"><br>
      <input type="submit" value="Submit">

    </form>
  </body>
</html>
