<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Select dish dear </h1>
    <p><%= data.message %></p>
    <form id="dishForm"action="/simplesearch" method="post">
      Ingredients:<br>
      <input type="text" name="ingredient" class="ingredient"><br>
      <input type="text" name="ingredient" class="ingredient"><br>
      <input type="text" name="ingredient" class="ingredient"><br>
      <input type="text" name="ingredient" class="ingredient"><br>
      <input type="submit" value="Submit">

    </form>
  </body>
</html>
